/*admin form stuff*/

body{
    font-family:Arial, Helvetica, sans-serif
}
  
h2{
   margin-inline:auto;
}

input.checkbox{
    transform: scale(1.5);
}

.check-wrap{
    margin-left:auto;
}
  
.submit-btn{
    background-color: rgb(168, 41, 168);
    font-size: 20px;
    border-radius: 10px;
    padding:5px;
    border:none;
    color:white;
    width:30%;
    margin-inline:auto;
    transition:none;
}

.submit-btn:hover{
    background-color: rgb(180, 44, 180);
    transform: scale(1.03);
}
    
.form-container{
    margin-inline:auto;
    width: clamp(200px, 90vw,35rem);
    display:flex;
    background-color: rgb(66, 60, 63);
    border-radius: 10px;
    color:white;
    margin-top:2rem;
    margin-bottom:2rem;
}
    
form{
    width:clamp(23rem,100%,5000px);
    display:flex;
    flex-direction: column;
    padding: 1.25em;
    gap:.5rem;
    position:relative;
}
  
input,
textarea{
    padding-left:1rem;
    margin-bottom:1rem;
    outline:none;
    border:none;
    transition: all .2s;
}
input:focus,
textarea:focus{
    box-shadow: 0 0 5px 1px white;
   
}


textarea{
    color:black;
    padding-left:1rem;
    margin-bottom:1rem;
    flex-shrink:0;
}
  
form input[type="text"],
form input[type="number"]{
    color:black;
}
  
form input[type="datetime-local"]{
    color:black;
    flex-shrink:0;
}

form input[type="file"]{
    flex-shrink:0;
}

.edit-btn{
    background-color: rgb(24, 216, 56);
    padding: .4rem;
    font-weight:bold;
    border-radius: 4px;
}
  
.del-btn{
    background-color: rgba(255, 18, 18, 0.678);
    padding: .4rem;
    font-weight:bold;
    border-radius: 4px;
    margin-left:5px;
}
  
th{
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
    background-color: grey;
}
  
.filler-row{
    border-bottom: rgba(255, 255, 255, 0.356) .2rem solid;
}
  
.name{
    text-align: center;
    font-weight:bold;
}
  
td{
    font-size:1.3rem;
    min-height:100%;
    border: grey 1px solid;
}
  
.scrollable-cell {
    position: relative;
}
  
.scrollable-content {
    max-height: 6rem; 
    overflow-y: auto;
    overflow-x: hidden;
    
    word-wrap: break-word;
    
    padding: 1rem; 
}
  
th,
td {
    max-width: 150px;
    text-align: center;
    padding: 1rem;
   
}
  
table{ 
    table-layout:fixed;
    max-width:100%;
    min-width:100%;
    border-collapse:collapse;
    border-spacing:0 15px;
}
  
tr{
    padding:10rem;
}

.editing-container{
    position: fixed;
    max-height:100vh;
    overflow-y: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 998; 
}

.variant-btn{
    text-align:right;
    width:auto;
    margin-left:auto;
}

.delete-past-events-wrapper{
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.cancel-btn{
    width:40px;
    position:absolute;
    top:2%;
    right:2%;
}
  /*end form stuff*/

.input-box{
  width:100%;
  background-color: rgb(238, 235, 235);
  border-radius: 20px;
  border: 1px solid #21272b;
  padding-left:50px;
  max-height: 30px;
  height:30px ;
  color:black;
}

.search-container{
  position:relative;
  width:70%;
  display:flex;
  justify-content:center;
}

.search{
  width:100vw;
  padding-top:1rem;
  display:flex;
  justify-content: center;
}

.search-icon{
  width:20px;
  height:20px;
  position:absolute;
  top: 15%;
  left: 1rem;
}