
@font-face {
  font-family: 'Jacques Francois';
  src: url('./JacquesFrancois-Regular.ttf') format('truetype'); 
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype'); 
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('./Quattrocento-Regular.ttf') format('truetype'); 
 
  font-weight: normal;
  font-style: normal;
}
:root{
  --main-bg: #150026;
  --btn-color: rgb(140, 36, 167);
  --text-color: white;
  --cool-font: 'Jacques Francois';
}
.cool-font{
  font-family: var(--cool-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  color:white;
  
}
html {

    line-height: 1.4;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
       tab-size: 4;
    /* 3 */
    font-family: 'Quattrocento','Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
  }
  body{
    line-height: inherit;
  }

  button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  transition: 0.2s;
  /* 2 */
}

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }

button,
[role="button"] {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

 /* ::-webkit-scrollbar {
  max-height: 1px;
  width:10px;
  background: #000000;
  
}

::-webkit-scrollbar-thumb {
  background: #393812;
  
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}  */



