
@font-face {
  font-family: 'Jacques Francois';
  src: url('./JacquesFrancois-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('./Quattrocento-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JockeyOne';
  src: url('./JockeyOne-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-bg: #150026;
  --btn-color: rgb(140, 36, 167);
  --text-color: white;
  --cool-font: 'Jacques Francois';
  --header-height: 3.5rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  color:white;
  
}
html {

    line-height: 1.4;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
       tab-size: 4;
    /* 3 */
    font-family: 'Quattrocento','Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
  }
  body{
    line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

button,
select {
  text-transform: none;
}

button,
a,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  transition: 0.2s;
  /* 2 */
}

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/* font  */
h2 {
  margin: 0;  
}
.cool-font{
  font-family: var(--cool-font);
}

.jockey{
  font-family: 'JockeyOne';
}

.roboto{
  font-family: 'Roboto';
}

.title-big{
  font-size:2rem;
}

.title{
  font-size:1.5rem;
}

.title-big-scale{
  font-size: calc(1.1rem + 4vmin);
}
.title-scale{
  font-size: calc(1.1rem + 1.5vmin);
}

.font-normal{
  font-size:1rem;
}

.font-med{
  font-size:1.2rem;
}

.font-small{
  font-size:.6rem;
}

.bold{
  font-weight:800;
}

.light{
  font-weight: 200;
}

.underline{
  text-decoration: underline;
}

.italic{
  font-style:italic;
}

.letter-space{
  letter-spacing:3px;
}
.white-blur{
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 12px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
}

.pink-blur:hover{
  text-shadow: 0 0 5px rgb(236, 5, 236), 0 0 12px rgb(236, 5, 236), 0 0 20px rgb(236, 5, 236), 0 0 30px rgb(236, 5, 236);
}

.pink{
  color:rgb(214, 110, 214);
}

.pink-italic{
  font-weight:inherit;
  font-style: italic;
  color:rgb(214, 110, 214);
}

.slider:after{
  content: "";
  position: absolute;
  background: purple;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: 2%;
  transition: 0.3s;
}

.slider:hover:after{
  width:100%;
}

.text-center{
  text-align:center;
}

.link-hover:hover{
  color:rgb(214, 110, 214);
  text-decoration: underline;
}

a{
  text-decoration:none;
}

/* font end */

/* layout start */
.flex{
  display:flex;
}

.column{
  flex-direction:column;
}

.flex-c{
  display:flex;
  justify-content: center;
}

.flex-c-c{
  display:flex;
  justify-content: center;
  align-items: center;
}

.align-c{
  align-items: center;
}

.flex-sb{
  justify-content: space-between;
}

.grow{
  flex-grow:1;
}

.wrap{
  flex-wrap:wrap;
}

.gap{
  gap: 1rem;
}

.gap-big{
  gap:4rem;
}
/* layout end */

/* position start */
.abs{
  position:absolute;
}

.rel{
  position:relative;
}

.abs-center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* position end */

/* padding start */
.pad{
  padding:1rem;
}

.pad-left{
  padding-left:1rem;
}

.pad-right{
  padding-right:1rem;
}

.pad-top{
  padding-top:1rem;
}

.pad-bot{
  padding-bottom:1rem;
}
/* padding end */

/* margin start */
.margin-right{
  margin-right:1rem;
}

/* background start */
.grey{
  background: rgb(37, 37, 37);
}

.black{
  background:black;
}

.gradient{
  background: linear-gradient(-98.79deg, #BA76FF -8.25%, #180030 73.07%);
}

.reverse-gradient{
  background: linear-gradient(98.79deg, #BA76FF -8.25%, #180030 73.07%);
}

.form-bg{
  background-color: rgb(66, 60, 63);
}

/*background end*/
.rc{
  border-radius:1rem;
}

.rc-top-top{
  border-radius: 1rem 1rem 0 0;
}

.icon-white{
  filter: invert(100%) sepia(1%) saturate(7418%) hue-rotate(290deg) brightness(105%) contrast(98%);
}

.icon-small{
  width:30px;
  height:30px;
}

button,
a,
[role="button"] {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* buttons start */
.main-btn,
.main-btn-full,
.btn-even-pad{
  background: var(--btn-color);
  border-radius:1rem;
}

.main-btn:hover,
.main-btn-full:hover,
.btn-even-pad:hover{
  background-color: rgb(180, 70, 202);
}

.main-btn-full{
  font-size:1.2rem;
  padding: .8em 2.2em;
  font-weight:bold;
}

.main-btn-full.big-btn{
  font-size:1.5rem;
}

.btn-even-pad{
  padding:1rem;
  font-size:1.5rem;
}

.signout-btn{
  border-radius: 1rem;
  font-size:1.2rem;
  
  padding: .7em 1.2em;
}

.delete-btn{
  padding:.5rem 1rem;
  background:red;
  border-radius:1rem;
  font-weight:bold;
}

.delete-btn:hover{
  background: rgb(245, 88, 88);
}
/* buttons end */

.click{
  cursor: pointer;
}

.hover-animation{
  transition: background-color 200ms ease-in-out;
}
/*header and page margin consistency*/

.header-bg{
  height: var(--header-height);
}
.view-top-margin{
  margin-top: var(--header-height);
}

/*modal background*/
.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 998; 
}