
@font-face {
  font-family: 'Jacques Francois';
  src: url('./JacquesFrancois-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('./Quattrocento-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JockeyOne';
  src: url('./JockeyOne-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-bg: #150026;
  --btn-color: rgb(140, 36, 167);
  --text-color: white;
  --cool-font: 'Jacques Francois';
  --header-height: 3.5rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  color:white;
  
}
html {

    line-height: 1.4;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
       tab-size: 4;
    /* 3 */
    font-family: 'Quattrocento','Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
  }
  body{
    line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

button,
select {
  text-transform: none;
}

button,
a,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  transition: 0.2s;
  /* 2 */
}

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/* font  */
.cool-font{
  font-family: var(--cool-font);
}

.jockey{
  font-family: 'JockeyOne';
}

.title-big{
  font-size:2rem;
}

.title{
  font-size:1.5rem;
}

.title-big-scale{
  font-size: calc(1.1rem + 5vmin);
}
.title-scale{
  font-size: calc(1.1rem + 1.5vmin);
}

.font-normal{
  font-size:1rem;
}

.font-small{
  font-size:.6rem;
}

.bold{
  font-weight:bold;
}

.light{
  font-weight: 200;
}

.white-blur{
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 12px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
}

.slider:after{
  content: "";
  position: absolute;
  background: var(--btn-color);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: 2%;
  transition: 0.3s;
}

.slider:after:hover{
  width:100%;
}

/* font end */

/* layout start */
.flex{
  display:flex;
}

.flex-center{
  display:flex;
  justify-content: center;
}

.flex-center-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

/* layout end */
button,
[role="button"] {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.main-btn{
  background: var(--btn-color);
  border-radius:1rem;
}

.main-btn:hover{
  background-color: rgb(180, 70, 202);
}

.click{
  cursor: pointer;
}

.hover-animation{
  transition: background-color 200ms ease-in-out;
}
/*header and page margin consistency*/

.header-bg{
  height: var(--header-height);
}
.view-top-margin{
  margin-top: var(--header-height);
}

